body {
    background-color: rgb(30, 124, 211);
    margin-top: 10%;
}

iframe {
    border-radius: 4px;
    position: relative;
}

.iframe-styling {
    height: 469px;
    overflow: hidden;
    
    border-radius: 12px;
}